body {
  width: 960px;
  margin: 0 auto;
  background-color: #faedcd;
  font-size: 20px;
  font-family: Times, serif;
  color: #f76011;
}

img {
  margin: 10px 100px;
  width: 350px;
  height: 220px;
}

img:hover {
  transform: rotate(-10deg);
}

header[role="banner"] {
  margin-top: 20px;
  height: 135px;
  border: solid 10px white;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #656d4a;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: 5px 0 0 0;
}

nav {
  margin: 0 auto;
  width: 800px;
}

nav ul {
  text-align: center;
  font-family: Arial, Verdana;
  font-size: 18px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  height: 20px;
  width: 95px;
  margin: 0 55px 0 5px;
  white-space: nowrap;
}

nav ul li a {
  text-decoration: none;
  padding: 5px 20px;
  background-color: #87986a;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border: solid 3px white;
  opacity: 0.7;
  transition: 0.3s;
}

nav ul li a:hover {
  opacity: 1;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 10px;
}

aside ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  background-color: #87986a;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: solid 4px white;
  opacity: 0.6;
  transition: 0.3s;
}

aside ul li a:hover {
  opacity: 1;
}

article {
  position: relative;
  top: 35px;
  background-color: #ccd5ae;
  border: double 10px white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  height: 550px;
  width: 600px;
}

article h2 {
  color: #414833;
  font-size: 24px;
  line-height: 14px;
  margin: 20px 0 0 0;
  padding: 10px 20px;
}

article p {
  color: rgba(0, 0, 0, 0.5);
  line-height: 24px;
  padding: 2px 20px;
}

section {
  background-color: #656d4a;
  border: double 4px white;
  padding: 0;
  margin: 10px 10px;
}

section h3 {
  color: #e9edc9;
  font-size: 22px;
  line-height: 14px;
  margin: 10px 0 0 0;
  padding: 20px 5px 0 20px;
  font-style: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

section p {
  color: #ffffff;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
}

aside {
  position: relative;
  top: -529px;
  left: 640px;
  background-color: #ccd5ae;
  border: solid 8px white;
  height: 555px;
  width: 302px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

aside h3 {
  color: #656d4a;
  font-size: 24px;
  line-height: 14px;
  margin: 20px 0 0 0;
  padding: 10px 20px;
  font-style: bold;
}

aside p {
  color: rgba(0, 0, 0, 0.5);
  line-height: 22px;
  padding: 0px 20px 0px 20px;
  font-size: 20px;
}

footer {
  text-align: center;
  position: relative;
  top: -510px;
  background-color: #656d4a;
  border: solid 8px white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #e9edc9;
}
